body {
  margin: 0;
  width: 100%;
}


.row {
  max-width: 100%;
  margin: 0;
}

.navbar {
  border-bottom: 3px solid rgb(132, 0, 50);
  position: fixed;
  opacity: 0.9;
  background-color: #333;
  color: white;
  z-index: 10;
  width: 100%;
  margin: 0;
}


a.nav-link {
  padding: 20px 0px;
}

.jumbotron .row:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    opacity: .5;
    background: #000;
    max-height: 600px;
    z-index: 1;
  }

.jumbotron {
  height: 600px;
  background-image: url(../images/grace-hopper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  border-radius: 0;
  max-width: 100%;
  z-index: 5;
  margin: 0;
}

h1 {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 100px;
  font-weight: 100;
  margin: 160px auto;
  text-align: center;
  z-index: 9;
}

small {
  font-size: 42px;
}

h2 {
  width: 100%;
}

#key-facts {
  font-size: 22px;
  z-index: 5;
  list-style: none;
  background-color: rgb(132, 0, 50);
  color: #e5dada;
  margin-top: 0;

}

#key-facts ul li {
  list-style: none;
  display: block;
}

 h2 {
  font-size: 42px;
  text-align: center;
  float: right;
}

small {
  display: block;
  font-size: 30px;
  margin-top: 10px;
}

.bio-header {
  padding: 30px 0px 60px 0px;
  margin: 0 auto;
  max-width: 100%;
}


.list {
  padding: 30px;
}


.blockquote {
  font-size: 42px;
  width: 90%;
  padding: 30px 0px;
  background-color: #D1BEB0;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

#long-bio {
  padding: 50px;
  margin-top: 20px 0;
  width: 100%;
  background-color: #002642;
  color: #e5dada;
  font-size: 20px;

}

.bio-sections {
  padding: 0px 20px;
}

footer {
  max-width: 100%;
  background-color: rgb(132, 0, 50);
  color: #e5dada;
}

footer a {
  color: lightblue;
}

footer a:hover {
  color: #333;
  text-decoration: none;
}

#sources {
  padding: 30px 0px;
}

.further-reading {
  padding: 30px 0px;
}
