body {
  width: 100%;
  margin: 0;
}

.navbar {
  border-bottom: 3px solid #FFDD4A;
  position: fixed;
  opacity: 0.9;
  background-color: #333;
  color: white;
}

.nav-item {
  padding: 20px 0;
}

.jumbotron {
  border-radius: 0;
  height: 600px;
  background-image: url(../images/code.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
}

.jumbotron .row:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    opacity: .75;
    background: #000;
    max-height: 600px;
    z-index: 1;
  }

h1 {
  font-family: 'Raleway', sans-serif;
  padding-top: 140px;
  margin: 0 auto;
  text-align: center;
  font-size: 120px;
  font-weight: lighter;
  color: white;
  z-index: 10;
}

small {
  font-family: 'Montserrat', sans-serif;
  padding-top: 20px;
  display: block;
  font-size: 42px;
  color: white;
  font-weight: 100;
  margin: 0 auto;
}

#intro-paragraph {
  border-top: 3px solid #333;
  background-color: #FFDD4A;
}

#intro-paragraph p {
  font-size: 28px;
  width: 70%;
  padding: 60px;
  font-weight: bolder;
  font-family: 'Helvetica', sans-serif;
  color: #333;
}


.hero-images {
  background-color: #FFDD4A;
  padding: 40px 0 100px 0;
  margin: 0 auto;
}

img {
  border-radius: 100%;
  height: 300px;
  width: 300px;
  margin: 0 auto;
  border: 3px solid #333;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

img:hover {
  filter: grayscale(0%);
}

.name-links {
  margin: 10px auto;
  text-align: center;
  display: block;
  /*centres links under images*/
}

a.name-links {
  text-decoration: none;
  font-size: 22px;
  color: #333;
}

a.name-links:hover {
  color: #EC368D;
}

footer {
  margin: 0 auto;
  background-color: #333;
  color: white;
}

p {
  text-align: center;
  padding: 50px 0;
  margin: 0 auto;
}
