.jumbotron {
  border-radius: 0;
  height: 600px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  text-align: center;
  font-size: 98px;
  font-weight: 100;
}

img {
  border-radius: 100%;
  margin: 30px 15px;
}

.name-links {
  margin: 0px auto;
  text-align: center;
  display: block; /*centres links under images*/
}
